.App-Content{
    width: 90%;
    height: 1000px;
    margin: 0 5% 0 5%;
}
.nav-tools{
    text-align: center;
    font-size: 50px;
}
.nav-tool{
    color: #dfddd9;
    width: 31%;
    display: inline-block;
    text-align: center;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 50px;
}
.nav-tool:hover{
    text-decoration: underline;
}
.about{
    margin: 30px 0 30px 0;
    font-size: 20px;
}

.title{
    font-size: 50px;
}
.item-list{
    display: inline-block;
    width: 50%;
    
}
.item-content{
    display: inline-block;
    width: 50%;
    float: right;
}
.item-image{
    width: 200px;
    margin-left: 30px;
}
.item-head{
    font-size: 30px;
    cursor: pointer;
}

.footer{
    background-color: #cecece;
    text-align: center;
    color: #000000;
}
