.App{
  font-family: Helvetica, sans-serif;
  transition: background-color 1s;
}
.head{
  /* background-color: black; */
  font-size: 30px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}