.App{
  font-family: Helvetica, sans-serif;
  transition: background-color 1s;
  color: #dfddd9;
}
.head{
  /* background-color: black; */
  font-size: 45px;
  margin-left: 5%;
  padding-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  /* text-decoration: underline; */
  /* font-weight: 200; */
}
@media all and (max-width:800px){
  .head{
    font-size: 30px;
  }
}